:root{
    --cor-primaria: #000000;
    --cor-secundaria: #202020;
    --cor-terciaria: rgb(182, 14, 14);
    --cor-destaque: yellow;
    --cor-destaque-hover: rgb(237, 237, 2);
    --cor-fonte-padrao: #FFFFFF;
    --fonte-padrao: "Arial";
    --fonte-destaque: "Cinematografica Bold";
    --arredondamento: 4px;
    --sombra: 0px 2px 4px #121212de;
}

@font-face{
    font-family: "Cinematografica Bold";
    src: url(../fonts/Cinematografica-Bold-trial.ttf);
}