@import url(root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--cor-fonte-padrao);
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor-primaria);
    box-shadow: var(--sombra);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

#clube-de-cinema{
    font-family: var(--fonte-destaque);
    font-size: 3rem;
    color: var(--cor-terciaria);
}

select{
    font-size: 1rem;
    border: none;
    color: var(--cor-destaque);
    cursor: pointer;
    background-color: var(--cor-primaria);
    outline: none;
}

select:focus{
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: white;
}

b{
    margin: 0 0 1rem 0;
}

input{
    outline: none;
    padding: 0.2rem 0.3rem;
    border: 2px solid grey;
    border-radius: var(--arredondamento);
}

input::placeholder{
    font-style: italic;
}

input:focus{
    border: 2px solid rgb(182, 14, 14);
}

input:valid{
    border: 2px solid var(--cor-input-aceito);
}

#filmeFavorito:valid, #diretorFavorito:valid{
    border-color: grey;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.introducao{
    padding: 2rem 0;
    width: 100%;
}

.introducao h1{
    color: var(--cor-destaque);
    padding: 0 0 1rem 0;
}

.introducao h1, .introducao p{
    max-width: 65%;
    text-align: center;
    margin: 0 auto;
}

.inscricao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.formulario-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0.5rem 0;
}

.formulario-item label{
    margin: 0 1rem 0 0;
}

#cadastro, #buscarEndereco, #gerarCarteirinha, #gerarCarteirinha2, #tema-alternativo-botao{
    background-color: var(--cor-destaque);
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: var(--arredondamento);
}

#gerarCarteirinha2{
    display: none;
}

#cadastro{
    margin: 1rem 0 0 0;
    padding: 1rem;
}

#cadastro:hover, #buscarEndereco:hover, #gerarCarteirinha:hover, #gerarCarteirinha2:hover, #tema-alternativo-botao:hover{
    background-color: var(--cor-destaque-hover);
    cursor: pointer;
}

#buscarEndereco{
    padding: 0.5rem;
}

#tema-alternativo-botao{
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 1rem;
}

.finalizacao{
    margin: 0 3rem;
}
.progresso{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(var(--cor-destaque) 0deg, grey 0deg);
    color: var(--cor-destaque);
    display: flex;
    justify-content: center;
}

.progresso::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-secundaria);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    z-index: 0;
}

.progresso-valor{
    align-content: center;
    font-size: 2rem;
    z-index: 1;
}

#trajetoriaCinefila{
    padding: 0.2rem 0.3rem 15rem 0.3rem;
    width: 50%;
}

#trajetoriaCinefila::placeholder{
    overflow-x: inherit;
}

#trajetoriaCinefila:focus{
    outline: none;
}

#gerarCarteirinha, #gerarCarteirinha2{
    margin: 2rem 0;
    padding: 0.5rem 0;
    width: 100%;
}

footer{
    background-color: var(--cor-terciaria);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.footer-modulo{
    padding: 0 5rem;
    border-right: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
}

#creditos{
    font-size: 1.5rem;
    color: var(--cor-destaque);
    margin: 0 0 1rem 0;
}

#footer-modulo-github{
    display: flex;
    justify-content: start;
    align-items: center;
}

#github, #github2{
    padding-right: 0.3rem;
    margin: 1rem 0;
}

#github2{
    display: none;
}

#footer-modulo-ultimo{
    border: none;
}